// =========================================================
// * Argon Dashboard - v2.0.1
// =========================================================
//
// * Product Page: https://www.creative-tim.com/product/argon-dashboard
// * Copyright 2022 Creative Tim (https://www.creative-tim.com)
//
// Coded by www.creative-tim.com
//
// =========================================================
//
// * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

// Bootstrap Functions
@import "argon-dashboard/bootstrap/functions";

// Custom Variables
@import "argon-dashboard/custom/variables";

// Theme Variables
@import "argon-dashboard/variables";

// Bootstrap Core
@import "argon-dashboard/bootstrap/bootstrap";

// Theme Core
@import "argon-dashboard/theme";

// Custom Variables
@import "argon-dashboard/custom/styles";


.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.popup img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
